# SPDX-FileCopyrightText: 2020 Håvard Moen <post@haavard.name>
#
# SPDX-License-Identifier: GPL-3.0-or-later

[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = "3.8"

[dev-packages]
betamax = "*"
coverage = "*"
pytest = "*"
pytest-cov = "*"

[packages]
idna = "==2.7"
gunicorn = "*"
flask = "~=1.0"
Flask-Dance = "~=3.0"
flask_migrate = "*"
flask_sqlalchemy = "*"
PyMySQL = "*"
"wtforms[email]" = "*"
SQLAlchemy = "~=1.3.20"
