<!DOCTYPE html>
<html lang="no">
<head>
  <meta charset="<% settings.charset %>">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
  <title>juleol</title>
  <link rel="stylesheet" href="<% request.uri_base %>/css/style.css">

  <script type="text/javascript" src="<% request.uri_base %>/javascripts/jquery.js"></script>

</head>
<body>
<% content %>
<div id="footer">
Powered by <a href="http://perldancer.org/">Dancer2</a> <% dancer_version %>
</div>
</body>
</html>
