<div id="content">
    <h1>Juleøl</h1>

<ul>
<% FOREACH tasting IN tastings %>
<li>
<a href="/result/<% tasting.year %>"><% tasting.year %></a>
<a href="/rate/<% tasting.year %>">Enter rating for <% tasting.year %></a>
</li>
<% END %>
</ul>

<% IF session.user %>
<p><a href="/logout">Logout</a></p>
<% END %>

</div>
