
body {
margin: 0.5em;
padding: 0px;
background-color: #ddd;

color: #333;
}
ol.ratinglist li ul {
  list-style: none;
} 
ol.ratinglist>li {
  border: 1px solid;
  margin: 1px;
  width: 15em;
} 
li {
  padding: 2px;
}   
ol.ratinglist li ul li label {
  float: left;
  width: 8em;
}
ol.ratinglist li ul li input[type="number"] {
  width: 2em;
  border: 1px solid #999;
}

.error {
  color: red;
}

table {
  border: 1px solid;
  margin: 1em;
}

td {
  border: 2px inset;
  padding: 0.3em;
}
