/*
 * SPDX-FileCopyrightText: 2020 Håvard Moen <post@haavard.name>
 *
 * SPDX-License-Identifier: GPL-3.0-or-later
 */

body {
  background-image: url("/static/2031353-f44336.svg");
  background-blend-mode: luminosity;
}

h2 img {
  filter: invert(100%) sepia(8%) saturate(2136%) hue-rotate(327deg) brightness(112%) contrast(107%);
}

img.beerdetail {
  height: 20em;
}

img.beerinfo {
  height: 5em;
}

img.beerinfosearch {
  height: 10em;
}

input.beername {
  height: 3em;
}

button.beerinfosearch {
  height: 3em;
}

th.beername {
  width: 8em;
}
th.beercomment {
  width: 3em;
}
th.beersum {
  width: 3em;
}
th.beerstdavg {
  width: 5em;
}

/*  Custom stacked styles for mobile sizes */
/*  Use a max-width media query so we don't have to undo these styles */
@media (max-width: 60em) {
  /* Force table to not be like tables anymore */
		table.responsive-table,
    .responsive-table thead,
    .responsive-table tbody,
    .responsive-table thead tr,
    .responsive-table thead tr th,
    .responsive-table tbody tr,
    .responsive-table tbody tr td {
			display: block;
		}

		/* Hide table headers (but not display: none;, for accessibility) */
    /*
		.responsive-table thead tr {
			position: absolute;
			top: -9999px;
			left: -9999px;
		}*/


    .responsive-table thead tr,
    .responsive-table tbody tr {
      margin: 0 0 1rem 0;
    }

		.responsive-table thead tr th {
			border: 1px solid #eee;
      font-size: 0.8em;
			position: relative;
			width: 50%;
      margin-top: 2px;
      margin-bottom: 2px;
      margin-left: 25%;
      margin-right: 25%;
    }

		.responsive-table tbody tr td {
			/* Behave  like a "row" */
			border: none;
			border-bottom: 1px solid #eee;
			position: relative;
			padding-left: 50%;
		}

		.responsive-table tbody tr td:before {
			/* Now like a table header */
			position: absolute;
			/* Top/left values mimic padding */
			top: 0;
			left: 6px;
			width: 45%;
			padding-right: 10px;
			white-space: nowrap;
		}

    .responsive-table tbody tr {
        display: block;
        line-height: 110%;
        padding: .5em .5em .5em .5em;
        margin: .5em .5em .5em .5em;
        -moz-box-shadow: 0 1px 6px rgba(0,0,0,.1);
        -webkit-box-shadow: 0 1px 6px rgba(0,0,0,.1);
        box-shadow: 0 1px 6px rgba(0,0,0,.1);
    }

    /*  White bg, large blue text for title */
    .responsive-table tbody tr td.title {
        display: block;
        font-size: 1.3em;
        line-height: 110%;
        padding: .5em .5em;
        margin: .2em .2em .2em .2em;
        -moz-box-shadow: 0 1px 6px rgba(0,0,0,.1);
        -webkit-box-shadow: 0 1px 6px rgba(0,0,0,.1);
        box-shadow: 0 1px 6px rgba(0,0,0,.1);
    }

    .responsive-table thead {
      counter-reset: number;
    }
    .responsive-table tbody tr td.title span:before {
      counter-increment: number;
      content: counter(number) " ";
    }

		/*
		Label the data
		*/
		.responsive-table thead tr th:nth-of-type(1) { display: none; }
		.responsive-table tbody tr td:nth-of-type(1) { display: none; }
    .responsive-table tbody tr td[data-title]:before { content: attr(data-title); }

}
