/*
 * SPDX-FileCopyrightText: 2024 Håvard Moen <post@haavard.name>
 *
 * SPDX-License-Identifier: GPL-3.0-or-later
 */

main section {
  border: 2px solid black;
  padding: var(--standardPad);
  margin-bottom: 2px;
  display: flex;
  flex-direction: column;
  max-width: 60em;
}

main section:nth-child(even) {
  background-color: var(--tableEvenColor);
}

main section:nth-child(odd) {
  background-color: var(--tableOddColor);
}

main section header {
  display: flex;
}

.sectionToggle {
  color: var(--textAltColor);
  text-align: right;
  width: 90%;
}

.sectionToggle input + span::before {
  content: "\f077";
}

.sectionToggle input:checked + span::before {
  content: "\f078";
}

header:has(.sectionToggle input:checked) ~ form,
header:has(.sectionToggle input:checked) ~ ol,
header:has(.sectionToggle input:checked) ~ ul {
  display: none;
}

section ol,
section ul {
  list-style: none;
  padding: var(--standardPad);
}

section ol li,
section ul li {
  padding-bottom: 0.5em;
}

section ol li h4,
section ul li h4 {
  border-bottom: 1px solid black;
  width: 100%;
}

section ol li fieldset legend,
section ul li fieldset legend {
  color: var(--textAltColor);
  font-size: 110%;
}

section ol li,
section ul li {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

section ol li fieldset,
section ul li fieldset {
  display: block;
  max-width: 100%;
}

section ol img {
  height: 7em;
}

section ol li fieldset.beerImage button {
  float: left;
  margin-right: 0.5em;
  font-size: 70%;
}

label {
  margin-right: 0.3em;
}

.beerSearch ul {
  display: flex;
  flex-direction: column;
}

.beerSearch ul li {
  display: block;
  flex-direction: row;
  text-align: left;
  width: 12em;
}

.beerSearch h3 {
  width: 100%;
  border-bottom: 2px solid black;
}

.beerSearch img {
  max-height: 7em;
  vertical-align: middle;
}

.beerSearch button {
  margin-left: 1em;
}
