{% macro render_field(field, no_complete=False) %}
  <div class="form-group m-3 text-light bg-primary">
  {{ field.label }}
  {%- if no_complete %}
  {{ field(autocapitalize='off', autocomplete='off', autocorrect='off', spellcheck='off', class="form-control", **kwargs)|safe }}
  {%- else %}
  {{ field(class="form-control", **kwargs)|safe }}
  {%- endif %}
  {% if field.errors %}
    {% for error in field.errors %}
      <small class="form-text text-danger">{{ error }}</small>
    {% endfor %}
  {% endif %}
  </div>
{% endmacro %}
