<!--
SPDX-FileCopyrightText: 2020 Håvard Moen <post@haavard.name>

SPDX-License-Identifier: GPL-3.0-or-later
-->

{% extends 'base.html' %}

{% block title %}Juleøl admin tasting year {{ tasting.year }} - {% endblock %}
{% block login %}{% endblock %}
{% block head_extra %}
    <link rel="stylesheet" href="{{ static_hash_url(filename='css/admin_year.css') }}" media="screen"/>
    <script src="{{ static_hash_url(filename='admin.js') }}"></script>
    <script nonce="{{ csp_nonce() }}">
      const year = {{ tasting.year }};
    </script>

{% endblock %}

{% block main_menu %}
<ul>
  <li><a href="/">Home</a></li>
  <li><a href="/admin/">Admin</a></li>
  <li><a href="/admin/{{ tasting.year }}" aria-current="page">{{ tasting.year }}</a></li>
</ul>
{% endblock %}

{%block content %}

<main>
    <header>
      <h2>Juleøl admin tasting year {{ tasting.year }}</h2>
    </header>
  <section>
    <header>
      <h3>Lock </h3>
      <label class="sectionToggle">
        <input type="checkbox" hidden>
        <span class="fa-solid" aria-label="Toggle collapse of section"></span>
        </input>
      </label>
    </header>
    <form>
      <label class="switch">Tasting is locked?
        <button id="locked" type="button" class="switch" role="switch" aria-checked="{{ tasting.locked | lower }}">
          <span>off</span>
          <span>on</span>
        </button>
      </label>
    </form>
  </section>
  <section>
    <header>
      <h3>Beers </h3>
      <label class="sectionToggle">
        <input type="checkbox" hidden>
        <span class="fa-solid" aria-label="Toggle collapse of section"></span>
        </input>
      </label>
    </header>
    <ol>
      {% for beer in tasting.beers %}
      <li>
        <h4>Beer {{ beer.number }}</h4>
        {%- if beer.info is not none %}
        <fieldset class="beerImage">
          <legend>Beer image</legend>
          <a href="{{ beer.info.info_url }}"><img alt="Picture of beer {{ beer.name }}" src="{{ beer.info.image_url }}"/></a>
          <button type="button" aria-label="Remove image and info url" data-beer-id="{{ beer.id }}" title="Remove image and info url">
            <span class="fa-solid fa-close"></span>
          </button>
        </fieldset>
        {% endif %}
        <fieldset class="beerInfo">
          <legend>Beer info</legend>
          <label for="beer_{{ beer.id }}">Name</label>
          <input class="beerName" size="30" type="text" id="beer_{{ beer.id }}" value="{{ beer.name }}" data-beer-id="{{ beer.id }}"/>
          {%- if has_search %}
          <button class="beerInfoSearch" type="button" data-beer-id="{{ beer.id }}">Search</button>
          {%- endif %}
        </fieldset>
        {%- if tasting.heats | length > 0 %}
        <fieldset class="beerHeat">
          <legend>Heat</legend>
          <label for="heat_beer_{{ beer.id }}">Heat</label>
          <select class="beerHeatSelect" name="heat_beer_{{ beer.id }}" id="heat_beer_{{ beer.id }}" data-beer-id="{{ beer.id }}">
            <option value="None" {% if not beer.heat %}selected="selected"{% endif %}>None</option>
            {% for heat in tasting.heats %}
            <option value="{{ heat.id }}"{% if beer.heat.id == heat.id %}selected="selected"{% endif %}>{{ heat.name }}</option>
            {% endfor %}
          </select>
        </fieldset>
        {% endif %}
      </li>
      {% endfor %}
    </ol>
  </section>
  <section>
    <header>
      <h3>Heats </h3>
      <label class="sectionToggle">
        <input type="checkbox" hidden>
        <span class="fa-solid" aria-label="Toggle collapse of section"></span>
        </input>
      </label>
    </header>
    <ol class="list-group">
      {% for heat in tasting.heats %}
      <li>
        <fieldset>
          <label for="heat_{{heat.id}}">Name</label>
          <input class="heatName" type="text"  value="{{ heat.name }}" data-heat-id="{{ heat.id }}" name="heat" id="heat_{{heat.id}}"/>
          <button class="heatDelete" value="Delete" data-heat-id="{{ heat.id }}">Delete heat</button>
        </fieldset>
      </li>
      {% endfor %}
    </ol>
    <form action="/admin/{{ tasting.year }}/heat" method="post">
      <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
      <label for="heat">Name</label>
      <input  name="name" id="heat" required type="text" value="" placeholder="Heat name"/>
      <button type=submit value="Add heat">Add heat</button>
    </form>
  </section>
  <section>
    <header>
      <h3>Notes </h3>
      <label class="sectionToggle">
        <input type="checkbox" hidden>
        <span class="fa-solid" aria-label="Toggle collapse of section"></span>
        </input>
      </label>
    </header>
    <ul>
      {% for note in tasting.notes %}
      <li>
        <fieldset>
          <textarea class="note" rows="5" cols="40" data-note-id="{{ note.id }}">{{ note.note }}</textarea>
          <button class="noteDelete" value="Delete" data-note-id="{{ note.id }}">Delete note</button>
        </fieldset>
      </li>
      {% endfor %}
    </ul>
    <form action="/admin/{{ tasting.year }}/note" method="post">
      <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
      <textarea rows="5" cols="40" name="note" id="note" required="" placeholder="Note text"></textarea>
      <button type="submit" value="Add note">Add note</button>
    </form>
  </section>
  <section>
    <header>
      <h3>Participants </h3>
      <label class="sectionToggle">
        <input type="checkbox" hidden>
        <span class="fa-solid" aria-label="Toggle collapse of section"></span>
        </input>
      </label>
    </header>
    <ul>
      {% for participant in tasting.participants %}
      <li>
        <fieldset>
          <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
          <label  for="participant_name_{{participant.id}}">Name</label>
          <input class="participantName" type="text" size="20" value="{{ participant.name }}" name="name" data-participant-id="{{ participant.id }}" id="participant_name_{{participant.id}}"/>
          <label  for="participant_email_{{participant.id}}">Email</label>
          <input class="participantEmail" type="email" size="20" value="{{ participant.email }}" name="email" data-participant-id="{{ participant.id }}" id="participant_email_{{participant.id}}"/>
          <button type="button" data-participant-id="{{ participant.id }}" data-participant-name="{{ participant.name }}" class="participantDelete">Delete participant</button>
        </fieldset>
      </li>
      {% endfor %}
    </ul>
    <form action="/admin/{{ tasting.year }}/participant" method="post">
      <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
      <label  for="name">Name</label>
      <input id="name" maxlength="255" minlength="1" name="name" required type="text" value="">
      <label  for="email">Email</label>
      <input id="email" maxlength="255" minlength="1" name="email" required type="email" value="">
      <button type=submit value="Add note">Add participant</button>
    </form>
  </section>
</main>
{% endblock %}

{%block content_after_faux_body %}
<section class="modal" id="beerSearch">
  <a href="#" class="modalClose" hidden tabindex="-1">
    <span>Close beer search</span>
  </a>
  <div class="beerSearch">
    <a href="#" class="modalClose fa-solid fa-close" hidden>
      <span>Close beer search</span>
    </a>
    <header>
      <h2>Search result</h2>
    </header>
    <div id="beerSearchBody">
      <ul>
      </ul>
    </div>
  </div>
</section>
{% endblock %}
