<!--
SPDX-FileCopyrightText: 2020 Håvard Moen <post@haavard.name>

SPDX-License-Identifier: GPL-3.0-or-later
-->

{% from "_formhelper.html" import render_field %}
{% extends 'base.html' %}

{% block title %}Juleøl admin{% endblock %}
{%block content %}
<nav aria-label="breadcrumb bg-secondary">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Admin</li>
  </ol>
</nav>
<h1 class="m-2 text-primary">Juleøl admin</h1>
<ul class="m-2 list-group">
  {% for tasting in tastings %}
  <li class="list-group-item list-group-item-secondary"><a class="text-primary" href="/admin/{{ tasting.year }}">{{ tasting.year }}</a></li>
  {% endfor %}
</ul>

<h2 class="m-2 text-light">Create new tasting</h2>
<form method="post">
  {{ render_field(form.year) }}
  {{ render_field(form.beers) }}
  <div class="input-group input-group-sm m-3">
    <button class="btn btn-primary" type=submit value="Create">Create</button>
  </div>
</form>

{% endblock %}
