{% from "_formhelper.html" import render_field %}
{% extends 'base.html' %}

{% block title %}Juleøl admin tasting year {{ tasting.year }}{% endblock %}
{%block content %}

<script>
  const year = {{ tasting.year }};

  function add_alert(obj, msg) {
    $(obj).after('<div class="alert alert-danger alert-dismissible fade show" role="alert">' + msg + '<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button></div>')
  }

  function update_beer_name(obj, id) {
    var name = obj.value;
    $.ajax("/admin/beer/" + id, {
      method: "PUT",
      data: { "name": name },
      dataType: "json",
      success: function(data, textStatus, xhr) {
        $(obj).siblings("p").hide();
      },
      error: function(xhr, ajaxOptions, thrownError) {
        try {
          var msg = xhr.responseJSON.error;
        } catch {
          var msg = "Error updating beer";
        }
        add_alert($(obj).parent(), msg)

      }
    });
  };

  function update_beer_heat(obj, id) {
    var heat = obj.value;
    var data;
    var method;
    var url;
    if(heat == 'None') {
      data = {};
      method = 'DELETE';
      url = "/admin/beer/" + id + "/heat";
    } else {
      data = {"heat": heat };
      method = "PUT";
      url = "/admin/beer/" + id;
    };
    $.ajax(url, {
      method: method,
      data: data,
      dataType: "json",
      success: function(data, textStatus, xhr) {
        $(obj).siblings("p").hide();
      },
      error: function(xhr, ajaxOptions, thrownError) {
        try {
          var msg = xhr.responseJSON.error;
        } catch {
          var msg = "Error updating beer";
        }
        add_alert($(obj).parent(), msg);
      }
    });
  };

  function update_heat(obj, id) {
    var heat = obj.value;
    $.ajax("/admin/heat/" + id, {
      method: "PUT",
      data: { "name": heat },
      dataType: "json",
      success: function(data, textStatus, xhr) {
        $(obj).siblings("p").hide();
      },
      error: function(xhr, ajaxOptions, thrownError) {
        try {
          var msg = xhr.responseJSON.error;
        } catch {
          var msg = "Error updating heat";
        }
        add_alert($(obj).parent(), msg);
      }
    });
  };

  function delete_heat(obj, id) {
    var name = obj.value;
    $.ajax("/admin/heat/" + id, {
      method: "DELETE",
      dataType: "json",
      success: function(data, textStatus, xhr) {
        $(obj).siblings("p").hide();
        $(obj).parent().remove()
      },
      error: function(xhr, ajaxOptions, thrownError) {
        try {
          var msg = xhr.responseJSON.error;
        } catch {
          var msg = "Error deleting heat";
        }
        add_alert($(obj).parent(), msg);
      }
    });
  };

  function update_note(obj, id) {
    var note = obj.value;
    $.ajax("/admin/note/" + id, {
      method: "PUT",
      data: { "note": note },
      dataType: "json",
      success: function(data, textStatus, xhr) {
        $(obj).siblings("p").hide();
      },
      error: function(xhr, ajaxOptions, thrownError) {
        try {
          var msg = xhr.responseJSON.error;
        } catch {
          var msg = "Error updating note";
        }
        add_alert($(obj).parent(), msg);
      }
    });
  };

  function delete_note(obj, id) {
    var name = obj.value;
    $.ajax("/admin/note/" + id, {
      method: "DELETE",
      dataType: "json",
      success: function(data, textStatus, xhr) {
        $(obj).siblings("p").hide();
        $(obj).parent().remove()
      },
      error: function(xhr, ajaxOptions, thrownError) {
        try {
          var msg = xhr.responseJSON.error;
        } catch {
          var msg = "Error deleting note";
        }
        add_alert($(obj).parent(), msg);
      }
    });
  };
</script>

<nav aria-label="breadcrumb bg-secondary">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item" aria-current="page"><a href="/admin/">Admin</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{ tasting.year }}</li>
  </ol>
</nav>

<h1 class="m-2 text-primary">Juleøl admin tasting year {{ tasting.year }}</h1>

<h2 class="m-2 text-light">Beers</h2>
<ul class="list-group m-2">
  {% for beer in tasting.beers %}
  <li class="list-group-item list-group-item-secondary">
    <h4 class="text-primary">Beer {{ beer.number }}</h4>
    <div class="input-group m-3">
      <label class="mr-2" for="beer_{{ beer.id }}">Name</label>
      <input type="text" id="beer_{{ beer.id }}" value="{{ beer.name }}" onfocusout="update_beer_name(this, {{ beer.id }});"/>
      <label class="mr-2 ml-2" for="heat_beer_{{ beer.id }}">Heat</label>
      <select class="custom-select" id="heat_beer_{{ beer.id }}" onchange="update_beer_heat(this, {{ beer.id }});">
        <option value="None" {% if not beer.heat %}selected="selected"{% endif %}>None</option>
        {% for heat in tasting.heats %}
        <option value="{{ heat.id }}"{% if beer.heat.id == heat.id %}selected="selected"{% endif %}>{{ heat.name }}</option>
        {% endfor %}
      </select>
    </div>
  </li>
  {% endfor %}
</ul>

<h2 class="m-2 text-light">Heats</h2>
<ul class="list-group m-2">
  {% for heat in tasting.heats %}
  <li class="list-group-item list-group-item-secondary">
  <input type="text" value="{{ heat.name }}" onfocusout="update_heat(this, {{ heat.id }});"/>
  <input type="button" value="Delete" onclick="delete_heat(this, {{ heat.id }});"/>
  </li>
  {% endfor %}
</ul>
<form action="/admin/{{ tasting.year }}/heat" method="post">
  <dl>
    {{ render_field(heat_form.name) }}
  </dl>
  <div class="input-group input-group-sm m-3">
    <button class="btn btn-primary" type=submit value="Add heat">Add heat</button>
  </div>
</form>

<h2 class="m-2 text-light">Notes</h2>
<ul class="list-group m-2">
  {% for note in tasting.notes %}
  <li class="list-group-item list-group-item-secondary">
  <input type="text" value="{{ note.note }}" onfocusout="update_note(this, {{ note.id }});"/>
  <button type="button" class="btn btn-primary" onclick="delete_note(this, {{ note.id }});">Delete</button>
  </li>
  {% endfor %}
</ul>
<form action="/admin/{{ tasting.year }}/note" method="post">
  {{ render_field(note_form.note, placeholder="new note") }}
  <div class="input-group input-group-sm m-3">
    <button class="btn btn-primary" type=submit value="Add note">Add note</button>
  </div>
</form>

<h2 class="m-2 text-light">Participants</h2>
<ul class="list-group m-2">
  {% for participant in tasting.participants %}
  <li class="list-group-item list-group-item-secondary">
    <form action="/admin/{{ tasting.year }}/participant/{{ participant.id }}" method="post">
      <h4 class="text-primary">{{ participant.name }}</h4>
      <div class="input-group m-3">
        <label class="mr-2" for="participant_{{ participant.id }}">New password</label>
        <input id="participant_{{ participant.id }}" type="password" name="password"/>
        <button class="btn btn-primary" type=submit value="Change password">Change password</button>
      </div>
    </form>
  </li>
  {% endfor %}
</ul>

<h2 class="m-2 text-light">New participant</h2>
<form action="/admin/{{ tasting.year }}/participant" method="post">
  {{ render_field(participant_form.name) }}
  {{ render_field(participant_form.password) }}
  <div class="input-group input-group-sm m-3">
    <button class="btn btn-primary" type=submit value="Create">Create</button>
  </div>
</form>

{% endblock %}
