<!--
SPDX-FileCopyrightText: 2020 Håvard Moen <post@haavard.name>

SPDX-License-Identifier: GPL-3.0-or-later
-->

{% extends 'base.html' %}

{% block title %}Juleøl admin - {% endblock %}
{% block login %}{% endblock %}

{% block main_menu %}
<ul>
  <li><a href="/">Home</a></li>
  <li><a href="/admin/" aria-current="page">Admin</a></li>
</ul>
{% endblock %}

{%block content %}
<main>
  <section>
    <header>
      <h2>Juleøl admin</h2>
    </header>
    <details class="inlineMenu" id="adminTastings">
      <summary>Existing tastings</summary>
      <ul>
        {% for tasting in tastings %}
        <li><a href="/admin/{{ tasting.year }}">{{ tasting.year }}</a></li>
        {% endfor %}
      </ul>
    </details>
    <h3>Create new tasting</h3>
    <form method="post">
      <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
      <label>Number of beers
        <input id="beers" max="100" min="1" name="beers" required type="number" value="" />
      </label>
      <label>Year
        <input id="year" max="2100" min="2000" name="year" required type="number" value="" />
      </label>
      <button type=submit value="Create">Create</button>
    </form>
  </section>
</main>
{% endblock %}
