<!--
SPDX-FileCopyrightText: 2020 Håvard Moen <post@haavard.name>

SPDX-License-Identifier: GPL-3.0-or-later
-->

<!DOCTYPE html>
<html lang="no">
  <head>
    {% block head %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="preload" as="style" href="{{ static_hash_url(filename='css/juleol.css') }}" media="screen"/>
    <link rel="preload" as="script" href="{{ static_hash_url(filename='juleol.js') }}" media="screen"/>
    <link rel="preload" href="{{ static_hash_url(filename='css/fontawesome-subset.css') }}" as="style"/>
    <link rel="preload" href="{{ static_hash_url(filename='css/solid.css') }}" as="style"/>

    <link rel="shortcut icon" href="{{ static_hash_url(filename='favicon.ico') }}"/>

    <link rel="stylesheet" href="{{ static_hash_url(filename='css/juleol.css') }}" media="screen"/>
    <link rel="stylesheet" href="{{ static_hash_url(filename='css/fontawesome-subset.css') }}">
    <link rel="stylesheet" href="{{ static_hash_url(filename='css/solid.css') }}">


    <title>{% block title %}{% endblock %}Juleøl</title>
    {% block head_extra %}
    {% endblock %}
    {% endblock %}
  </head>

  <body class="bg-secondary">
    <div id="csrf-token" class="d-none" data-token="{{ csrf_token() }}"></div>
    <div id="fauxBody">

      <header id="top">
        <h1>Juleøl</h1>
        <input type="checkbox" id="mainMenuToggle" hidden/>
        <label for="mainMenuToggle" hidden></label>
        <nav aria-label="Breadcrumb" id="mainMenu">
          {% block main_menu %}
          {% endblock %}
          {% block login %}
          {% if current_user.is_authenticated %}
          <a href="/logout" class="nav-link">Logout</a>
          {% else %}
          <form method="post" action="/login">
            <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
            {{ login_form.year.label() }}{{ login_form.year() | safe }}
            <button type="submit">Login</button>
          </form>
          {% endif %}
          {% endblock %}
        </nav>
      </header>

      {% set messages = get_flashed_messages(with_categories=true) %}
      {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
      <aside class="messages">
        {% for category, message in messages %}
        <div class="{{ category }}">
          <label hidden><input type="checkbox" hidden><span aria-label="Close" class="fa-solid fa-close"></span></label>
          <p>
          {% if category == "success" %}
          <span class="fa-solid fa-square-check"></span>
          {% elif category == "info" %}
          <span class="fa-solid fa-circle-info"></span>
          {% elif category == "warning" %}
          <span class="fa-solid fa-triangle-exclamation"></span>
          {% elif category == "error" %}
          <span class="fa-solid fa-circle-exclamation"></span>
          {% endif %}
          {{ message }}
          </p>
        </div>
        {% endfor %}
      </aside>
      {% endif %}
      {% endwith %}

      {% block content %}{% endblock %}
    </div>
    {% block content_after_faux_body %}{% endblock %}
  </body>
  <script src="{{ static_hash_url(filename='juleol.js') }}"></script>
</html>
