<!--
SPDX-FileCopyrightText: 2020 Håvard Moen <post@haavard.name>

SPDX-License-Identifier: GPL-3.0-or-later
-->

{% extends 'base.html' %}

{% block main_menu %}
<ul>
  <li><a href="/" aria-current="page">Home</a></li>
</ul>
{% endblock %}

{%block content %}

<main>
  <section id="tastings">
    <header>
    <h2>Tastings</h2>
    </header>
    <ol>
      {% for tasting in tastings %}
      <li>
        <header>
          <h3>{{ tasting.year }}</h3>
        </header>
        <ul>
          <li><a href="/result/{{ tasting.year }}">Results</a></li>
          {% if current_user.is_authenticated and current_user.tasting.year == tasting.year %}
          <li><a href="/rate/{{ tasting.year }}">Enter rating</a></li>
          {% endif %}
        </ul>
      </li>
      {% endfor %}
    </ol>
   </section>
{% endblock %}
