{% from "_formhelper.html" import render_field %}
{% extends 'base.html' %}

{% block title %}Home{% endblock %}
{%block content %}
<nav class="navbar navbar-expand-{%- if 'user_id' in session %}sm{%- else %}md{%- endif %} navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
  <ol class="mr-auto mt-2 breadcrumb">
    <li class="breadcrumb-item active">Home</li>
  </ol>
  {% if 'user_id' in session %}
  <a href="/logout" class="nav-link">Logout</a>
  {% else %}
  <form class="form-inline" method="post" action="/login">
      {{ form.year.label(class="mr-sm2") }}{{ form.year(class="form-control mr-sm2") | safe }}
      <button class="btn btn-outline-success btn-primary text-light" type="submit">Login</button>
  </form>
  {% endif %}
  </div>
</nav>

<h1 class="m-2 text-primary">Juleøl</h1>
<h2 class="m-2 text-light">Tastings</h2>
  {% for tasting in tastings %}
   <h3 class="m-2 text-light">{{ tasting.year }}</h3>
   <div class="list-group m-3">
    <a class="list-group-item list-group-item-action list-group-item-secondary text-primary" href="/result/{{ tasting.year }}">Results</a>
    {% if 'user_id' in session %}
    <a class="list-group-item list-group-item-action list-group-item-secondary text-primary" href="/rate/{{ tasting.year }}">Enter rating</a>
    {% else %}
    {% endif %}
   </div>
  {% endfor %}
{% endblock %}
