{% from "_formhelper.html" import render_field %}
{% extends 'base.html' %}

{% block title %}Juleøl login{% endblock %}
{%block content %}
<nav aria-label="breadcrumb bg-secondary">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Login</li>
  </ol>
</nav>
<h1 class="m2 text-primary">Juleøl login</h1>
<form method="post">
  {{ render_field(form.year) }}
  {{ render_field(form.name) }}
  {{ render_field(form.password) }}
  <div class="input-group input-group-sm m-3">
  <button class="btn btn-primary" type=submit value="Log in">Log in</button>
  </div>
</form>
{% endblock %}
