<!--
SPDX-FileCopyrightText: 2020 Håvard Moen <post@haavard.name>

SPDX-License-Identifier: GPL-3.0-or-later
-->

{% extends 'base.html' %}

{% block title %}Juleøl result {{ participant.tasting.year }} for {{ participant.name }} - {% endblock %}

{% block main_menu %}
<ul>
  <li><a href="/">Home</a></li>
  <li><a href="/result/{{ participant.tasting.year }}">Results {{ participant.tasting.year }}</a></li>
  <li><a href="/result/{{ participant.tasting.year }}/{{ participant.id }}" aria-current="page">{{ participant.name }}</a></li>
</ul>
{% endblock %}

{%block content %}

<main>

{% if participant.tasting.heats %}
  <details id="heats">
    <summary>Heats</summary>
    <select id="heatselect" name="heat">
      <option value="All" {% if not heat %}selected="selected"{% endif %}>All</option>
      {% for h in participant.tasting.heats %}
      <option value="{{ h.id }}" {% if heat and heat == h.id %}selected="selected"{% endif %}>{{ h.name }}</option>
      {% endfor %}
    </select>
  </details>
{% endif %}
<section id="results">
    <header>
      <h2>Results for {{ participant.name }}</h2>
    </header>
</section>
<table id="participantResulttable">
  <thead>
    <tr>
      <th aria-sort="none"></div>Number</th>
      <th aria-sort="none"><div role="button" aria-label="Sort" class="fa-solid fa-sort"></div>Beer</th>
      <th aria-sort="none"><div role="button" aria-label="Sort" class="fa-solid fa-sort"></div>Beer number</th>
      <th aria-sort="none"><div role="button" aria-label="Sort" class="fa-solid fa-sort"></div>Look</th>
      <th aria-sort="none"><div role="button" aria-label="Sort" class="fa-solid fa-sort"></div>Smell</th>
      <th aria-sort="none"><div role="button" aria-label="Sort" class="fa-solid fa-sort"></div>Taste</th>
      <th aria-sort="none"><div role="button" aria-label="Sort" class="fa-solid fa-sort"></div>Aftertaste</th>
      <th aria-sort="none"><div role="button" aria-label="Sort" class="fa-solid fa-sort"></div>Xmas</th>
      <th aria-sort="none"><div role="button" aria-label="Sort" class="fa-solid fa-sort"></div>Sum</th>
      {%- if participant.tasting.heats %}
      <th aria-sort="none"><div role="button" aria-label="Sort" class="fa-solid fa-sort"></div>Heat</th>
      {%- endif %}
    </tr>
  </thead>
  <tbody>
    {% for score in scores %}
    <tr>
      <td data-title="Number">{{ loop.index }}</td>
      <td data-title="Beer">
        {%- if beers[score.number].info is not none %}
        <a href="{{ beers[score.number].info.info_url }}">{{ score.name }}</a>
        {%- else %}
        {{ score.name }}
        {%- endif %}
        {%- set show_comments = {"show": False} %}
        {%- for comment in beers[score.number].comments %}
        {%- if comment.participant == participant -%}
        {%- if not comment["private"] or comment.participant == current_user %}
        {%- if show_comments.update({"show": True}) %}{%- endif %}
        {%- endif %}
        {%- endif %}
        {%- endfor %}
        {%- if show_comments["show"] %}
        <a href="#beer_comment_{{ score.number }}" class="fa-solid fa-comment"><span>"Beer comments"</span></a>
      </td>
      {%- endif %}
      {% if heat %}
      <td>{{ loop.index }} ({{ score.number }})</td>
      {% else %}
      <td data-title="Beer number">{{ score.number }}</td>
      {% endif %}
      {% if score.look is none %}
      <td data-title="Look">N/A</td>
      {% else %}
      <td data-title="Look">{{ score.look }}</td>
      {% endif %}
      {% if score.smell is none %}
      <td data-title="Smell">N/A</td>
      {% else %}
      <td data-title="Smell">{{ score.smell }}</td>
      {% endif %}
      {% if score.taste is none %}
      <td data-title="Taste">N/A</td>
      {% else %}
      <td data-title="Taste">{{ score.taste }}</td>
      {% endif %}
      {% if score.aftertaste is none %}
      <td data-title="Aftertaste">N/A</td>
      {% else %}
      <td data-title="Aftertaste">{{ score.aftertaste }}</td>
      {% endif %}
      {% if score.xmas is none %}
      <td data-title="Xmas">N/A</td>
      {% else %}
      <td data-title="Xmas">{{ score.xmas }}</td>
      {% endif %}
      <td data-title="Sum">{{ (score.look or 0) + (score.smell or 0) + (score.taste or 0) + (score.aftertaste or 0) + (score.xmas or 0) }}</td>
      {%- if participant.tasting.heats %}
      <td data-title="Heat">{{ score.heat_name }}</td>
      {%- endif %}
    </tr>
    {% endfor %}
  </tbody>
</table>

{% if false %}

{% for score in scores %}
{%- set show_comments = {"show": False} %}
{%- for comment in beers[score.number].comments %}
{%- if comment.participant == participant -%}
{%- if not comment["private"] or comment.participant == current_user %}
{%- if show_comments.update({"show": True}) %}{%- endif %}
{%- endif %}
{%- endif %}
{%- endfor %}
{%- if show_comments["show"] %}
<div class="modal" role="dialog" aria-labelledby="beer_comment_label_{{ score.number }}" aria-hidden="true" id="beer_comment_{{ score.number }}">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content bg-secondary">
      <div class="modal-header">
        <h5 class="modal-title text-light" id="beer_comment_label_{{ score.number }}">Comment for {{ score.name }}</h5>
        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          {%- for comment in beers[score.number].comments %}
          {%- if comment.participant == participant %}
          {%- if not comment["private"] or comment.participant == current_user %}
          <p>{{ comment.comment }}</p>
          {%- endif %}
          {%- endif %}
          {% endfor %}
      </div>
    </div>
  </div>
</div>
{%- endif %}
{% endfor %}

{%- endif %}
</main>
{% endblock %}

{%block content_after_faux_body %}

{% for score in scores %}
{%- set show_comments = {"show": False} %}
{%- for comment in beers[score.number].comments %}
{%- if comment.participant == participant -%}
{%- if not comment["private"] or comment.participant == current_user %}
{%- if show_comments.update({"show": True}) %}{%- endif %}
{%- endif %}
{%- endif %}
{%- endfor %}
{%- if show_comments["show"] %}
<section class="modal" id="beer_comment_{{ score.number }}">
  <a href="#" class="modalClose" hidden tabindex="-1">
    <span>Close beer info</span>
  </a>
  <div class="beerInfo">
    <a href="#" class="modalClose fa-solid fa-close" hidden>
      <span>Close Contact Form</span>
    </a>
    <header>
      <h2>Comments for {{ score.name }}</h2>
    </header>
    <div class="beerComment">
      {%- for comment in beers[score.number].comments %}
      {%- if comment.participant == participant %}
      {%- if not comment["private"] or comment.participant == current_user %}
      <p>{{ comment.comment }}</p>
      {%- endif %}
      {%- endif %}
      {% endfor %}
    </div>
</section>
{%- endif %}
{% endfor %}
{% endblock %}
