<!--
SPDX-FileCopyrightText: 2020 Håvard Moen <post@haavard.name>

SPDX-License-Identifier: GPL-3.0-or-later
-->

{% extends 'base.html' %}

{% block title %}Juleøl rate beer year {{ current_user.tasting.year }} - {% endblock %}

{% block head_extra %}
<script src="{{ static_hash_url(filename='rate.js') }}"></script>
<script src="{{ static_hash_url(filename='swipe-listener.min.js') }}"></script>
{% endblock %}

{% block main_menu %}
<ul>
  <li><a href="/">Home</a></li>
  <li><a href="/rate/{{ current_user.tasting.year }}">Rate {{ current_user.tasting.year }}</a></li>
  <li><a href="/result/{{ current_user.tasting.year }}">Results</a></li>
</ul>
{% endblock %}

{%block content %}

<main>
  {% if current_user.tasting.heats %}
  <details id="heats">
    {% if heat %}
    {% for h in current_user.tasting.heats %}
    {% if h.id == heat %}
    <summary>List of heats, selected heat is {{ h.name }}</summary>
    {% endif %}
    {% endfor %}
    {% else %}
    <summary>List of heats</summary>
    {% endif %}
    <select id="heatselect" name="heat">
      <option value="All" {% if not heat %}selected="selected"{% endif %}>All</option>
      {% for h in current_user.tasting.heats %}
      <option value="{{ h.id }}" {% if heat and heat == h.id %}selected="selected"{% endif %}>{{ h.name }}</option>
      {% endfor %}
    </select>
  </details>
  {% endif %}

  <section id="rateBeer">
    <header>
      <h2>Rating for beer</h2>
    </header>
    <form data-score-type="look">
      <label for="look">Look (0-3)</label>
      <output for="look" name="result"></output>
      <input id="look" max="3" min="0" name="look" step="1" type="range" value=""/>
    </form>
    <form data-score-type="smell">
      <label for="smell">Smell (0-3)</label>
      <output for="smell" name="result"></output>
      <input id="smell" max="3" min="0" name="look" step="1" type="range" value=""/>
    </form>
    <form data-score-type="taste">
      <label for="taste">Taste (0-9)</label>
      <output for="taste" name="result"></output>
      <input id="taste" max="9" min="0" name="look" step="1" type="range" value=""/>
    </form>
    <form data-score-type="aftertaste">
      <label for="aftertaste">Aftertaste (0-5)</label>
      <output for="aftertaste" name="result"></output>
      <input id="aftertaste" max="5" min="0" name="look" step="1" type="range" value=""/>
    </form>
    <form data-score-type="xmas">
      <label for="xmas">Xmas (0-3)</label>
      <output for="xmas" name="result"></output>
      <input id="xmas" max="3" min="0" name="look" step="1" type="range" value=""/>
    </form>
    <a href="#beerCommentModal">Comment&nbsp;<span class="fa-solid fa-comment"></span></a>
  </section>

  {% if heat %}
  {% set beers = current_user.tasting.beers | selectattr("heat_id", "equalto", heat) %}
  {% else %}
  {% set beers = current_user.tasting.beers %}
  {% endif %}
  <nav aria-label="Beer number">
    <ul>
      <li><a href="#" id="prev">Previous</a></li>
      {% for beer in beers %}
      <li data-beer="{{ beer.number }}">
        {% if heat %}
        <a href="#">{{ loop.index }} ({{ beer.number }} )</a></li>
        {% else %}
        <a href="#" id="page{{ loop.index }}">{{ beer.number }}</a>
        {% endif %}
      </li>
      {% endfor %}
      <li><a href="#" id="next">Next</a></li>
    </ul>
  </nav>

</main>

{% endblock %}

{%block content_after_faux_body %}

<section class="modal" id="beerCommentModal">
  <a href="#" class="modalClose" hidden tabindex="-1">
    <span>Close beer comment</span>
  </a>
  <div class="beerComment">
    <a href="#" class="modalClose fa-solid fa-close" hidden>
      <span>Close beer comment</span>
    </a>
    <header>
      <h2>Comments for beer 1</h2>
    </header>
    <form>
      <label>Comment
      <input id="comment" name="comment" required type="text" value="" />
      </label>
      <label for="private" class="switch">Private
      <button id="private" role="switch" class="switch" type="button" aria-checked="false">
        <span>off</span>
        <span>on</span>
      </button>
      </label>
      <button id="addBeerComment" type="button">Save comment</button>
    </form>
  </div>
</section>

<script nonce="{{ csp_nonce() }}">
  const year = {{ current_user.tasting.year }};
  {% if heat %}
  const beers = {{ current_user.tasting.beers | selectattr("heat_id", "equalto", heat) | map(attribute='number') | list | tojson }};
  const heat = true;
  {% else %}
  const beers = {{ current_user.tasting.beers | map(attribute='number') | list | tojson }};
  const heat = false;
  {% endif %}
  var currentBeerPos = 0;
  const scoreTypes = ["look", "smell", "taste", "aftertaste", "xmas"];
  var updating = false;
</script>
{% endblock %}
