{% from "_formhelper.html" import render_field %}
{% extends 'base.html' %}

{% block title %}Juleøl rate beer year {{ g.participant.tasting.year }}{% endblock %}
{%block content %}
<nav class="navbar navbar-expand-{%- if 'user_id' in session %}sm{%- else %}md{%- endif %} navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ol class="m-2 breadcrumb">
      <li class="breadcrumb-item"><a href="/">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">Rate {{ g.participant.tasting.year }}</li>
    </ol>
    <a class="nav-item" href="/result/{{ g.participant.tasting.year }}">Results</a>
  </div>
</nav>
<h1 class="m-2 text-primary">Juleøl rate beer year {{ g.participant.tasting.year }}</h1>

{% if g.participant.tasting.heats %}
<h2 data-toggle="collapse" href="#heats" class="m-2 text-light"> <img alt="open or close section" src="/static/icons/arrow-down-circle.svg"/>Heats</h2>
<div class="collapse m-2" id="heats">
<select class="custom-select" id="heatselect" name="heat" onchange="filter_heat();">
  <option value="All" {% if not heat %}selected="selected"{% endif %}>All</option>
  {% for h in g.participant.tasting.heats %}
  <option value="{{ h.id }}" {% if heat and heat == h.id %}selected="selected"{% endif %}>{{ h.name }}</option>
  {% endfor %}
</select>
</div>
{% endif %}


<h2 class="m-2 text-light" id="rating_header">Rating for beer</h2>
<form oninput="result.value=look.value">
{{ render_field(form.look, True, type="range", step="1") }}
</form>

<form oninput="result.value=smell.value">
{{ render_field(form.smell, True, type="range") }}
</form>

<form oninput="result.value=taste.value">
{{ render_field(form.taste, True, type="range") }}
</form>

<form oninput="result.value=aftertaste.value">
{{ render_field(form.aftertaste, True, type="range") }}
</form>

<form oninput="result.value=xmas.value">
{{ render_field(form.xmas, True, type="range") }}
</form>

{% if heat %}
{% set beers = g.participant.tasting.beers | selectattr("heat_id", "equalto", heat) %}
{% else %}
{% set beers = g.participant.tasting.beers %}
{% endif %}
<nav aria-label="Beer number">
  <ul class="pagination m-2">
    <li class="page-item"><a class="page-link" href="#" id="prev">Previous</a></li>
    {% for beer in beers %}
    <li class="page-item" data-beer="{{ beer.number }}">
    {% if heat %}
      <a class="page-link" href="#">{{ loop.index }} ({{ beer.number }} )</a></li>
    {% else %}
    <a class="page-link" href="#" id="page{{ loop.index }}">{{ beer.number }}</a>
    {% endif %}
    </li>
    {% endfor %}
    <li class="page-item"><a class="page-link" href="#" id="next">Next</a></li>
  </ul>
</nav>


<script>
  const year = {{ g.participant.tasting.year }};
  {% if heat %}
  const beers = {{ g.participant.tasting.beers | selectattr("heat_id", "equalto", heat) | map(attribute='number') | list | tojson }};
  const heat = true;
  {% else %}
  const beers = {{ g.participant.tasting.beers | map(attribute='number') | list | tojson }};
  const heat = false;
  {% endif %}
  var current_beer_pos = 0;
  const score_types = ["look", "smell", "taste", "aftertaste", "xmas"];

  function add_alert(obj, msg) {
    $(obj).after('<div class="alert alert-danger alert-dismissible fade show" role="alert">' + msg + '<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button></div>')
  }

  $('#heats').on('hide.bs.collapse', function () {
    console.log(this);
    $('h2[href="#heats"]').children('img')[0].src="/static/icons/arrow-down-circle.svg"
  })
  $('#heats').on('show.bs.collapse', function () {
    $('h2[href="#heats"]').children('img')[0].src="/static/icons/arrow-up-circle.svg"
  })

  $("li.page-item").click(function() {
    set_beer(this);
  });
  $("#prev").click(function() {
    prev_beer();
  });
  $("#next").click(function() {
    next_beer();
  });

  $('input').on('change', function() {
    submit_beer_score($(this).prop('id'));
  });

  function prev_beer() {
    if(current_beer_pos == 0) {
      current_beer_pos = beers.length - 1;
    } else {
      current_beer_pos = current_beer_pos - 1;
    };
    get_beer_rating(beers[current_beer_pos]);
    update_beer_page_list();
  };

  function next_beer() {
    if(current_beer_pos == beers.length - 1) {
      current_beer_pos = 0;
    } else {
      current_beer_pos = current_beer_pos + 1;
    };
    get_beer_rating(beers[current_beer_pos]);
    update_beer_page_list();
  };

  function update_beer_page_list() {
    $("li.page-item").each(function(index) {
      if($(this).data('beer') !== undefined) {
        var prev_beer;
        var current_beer;
        var next_beer;
        if(current_beer_pos == 0) {
          prev_beer = beers[beers.length - 1];
        } else {
          prev_beer = beers[current_beer_pos - 1];
        }
        if(current_beer_pos == beers.length - 1) {
          next_beer = beers[0];
        } else {
          next_beer = beers[current_beer_pos + 1];
        }
        current_beer = beers[current_beer_pos];
        var beer = $(this).data('beer');
        if(beer == prev_beer || beer == current_beer || beer == next_beer) {
          $(this).show();
        } else {
          $(this).hide();
        }
        if(beer == current_beer) {
          $(this).addClass('active');
        } else {
          $(this).removeClass('active');
        }
      }
    });
  }

  function set_beer(obj) {
    if($(obj).data('beer') !== undefined) {
      var beer = $(obj).data('beer');
      var num = beers.findIndex(function(e) {
        return Number(e) == this;
      }, beer);
      if(num >= 0 && num < beers.length) {
        current_beer_pos = num;
        get_beer_rating(beers[current_beer_pos]);
        update_beer_page_list();
      }
    }
  };


  function get_beer_rating(beer_number) {
    $.ajax("/rate/" + year + "/" + beer_number, {
      method: "GET",
      dataType: "json",
      success: function(data, textStatus, xhr) {
        $("p.error").hide();
        if(heat) {
          $("h2#rating_header").text("Rating for beer " + (current_beer_pos + 1) + " (" + beer_number + ")");
        } else {
          $("h2#rating_header").text("Rating for beer " + beer_number);
        };
        for (let key of score_types) {
          if(data[key] != null) {
            $("input#" + key)[0].value = data[key];
          } else {
            $("input#" + key)[0].value = "";
          };
          $("input#" + key).trigger('input');
        };
      },
      error: function(xhr, ajaxOptions, thrownError) {
        try {
          var msg = xhr.responseJSON.error;
        } catch {
          var msg = "Error getting beer rating data"
        }
        add_alert($('h1'), msg);
      }
    });
  };

  function submit_beer_score(score_type) {
    var score_obj = $("input#" + score_type);
    if(score_obj.length == 0) {
      return;
    }
    var score = score_obj[0].value;
    if(!score) {
      return;
    };
    if(score_obj[0].checkValidity() === false) {
      $(score_obj).addClass('is-invalid');
      return;
    }
    $(score_obj).removeClass('is-invalid');
    var beer_number = beers[current_beer_pos];
    data = new Map();
    data[score_type] = score;
    $.ajax("/rate/" + year + "/" + beer_number, {
      method: "PUT",
      dataType: "json",
      data: data,
      success: function(data, textStatus, xhr) {
      },
      error: function(xhr, ajaxOptions, thrownError) {
        try {
          var msg = xhr.responseJSON.error;
          add_alert($('h1'), msg);
        } catch {
          add_alert($('h1'), "Error updating score");
        }
      }
    });
  };

  $("body").touchwipe({
    wipeLeft: function() { next_beer();},
    wipeRight: function() { prev_beer(); },
    //wipeUp: function() { },
    //wipeDown: function() { },
    min_move_x: 20,
    min_move_y: 20,
    preventDefaultEvents: true
  });

  $(document).ready(function() {
    get_beer_rating(beers[current_beer_pos]);
    update_beer_page_list();
    $('input').each(function() {
      var name = $(this).prop('name');
      $(this).after('<div class="invalid-feedback alert alert-danger" role="alert">The input is not valid</div>')
    });
  });

  function filter_heat() {
    url = new URL(window.location);
    heat_id = $("#heatselect")[0].value;
    if(heat_id == "All") {
      url.search = "";
    } else {
      url.search = "heat=" + heat_id;
    };
    window.location = url;
  };
</script>
{% endblock %}
