{% from "_formhelper.html" import render_field %}
{% extends 'base.html' %}

{% block title %}Juleøl rate beer year {{ g.participant.tasting.year }}{% endblock %}
{%block content %}
<h1>Juleøl rate beer year {{ g.participant.tasting.year }}</h1>

<h2 id="rating_header">Rating for beer</h2>
<dl id="rating">
    {{ render_field(form.look) }}
    {{ render_field(form.smell) }}
    {{ render_field(form.taste) }}
    {{ render_field(form.aftertaste) }}
    {{ render_field(form.xmas) }}
</dl>
<p class="error" style="display: none;"></p>
<p>
<a href="#" id="prev">Previous</a>
<select id="select_beer">
{% if heat %}
{% set beers = g.participant.tasting.beers | selectattr("heat_id", "equalto", heat) %}
{% else %}
{% set beers = g.participant.tasting.beers %}
{% endif %}
{% for beer in beers %}
{% if heat %}
<option value="{{ beer.number }}">{{ loop.index }} ({{ beer.number }})</option>
{% else %}
<option value="{{ beer.number }}">{{ beer.number }}</option>
{% endif %}
{% endfor %}
</select>
<a href="#" id="next">Next</a>
</p>

{% if g.participant.tasting.heats %}
<p>
<label for="heat">Heat</label>
<select id="heatselect" name="heat" onchange="filter_heat();">
  <option value="All" {% if not heat %}selected="selected"{% endif %}>All</option>
  {% for h in g.participant.tasting.heats %}
  <option value="{{ h.id }}" {% if heat and heat == h.id %}selected="selected"{% endif %}>{{ h.name }}</option>
  {% endfor %}
</select>
</p>
{% endif %}
<p><a href="/result/{{ g.participant.tasting.year }}">Result</a></p>
<p><a href="/">Home</a></p>

<script>
  const year = {{ g.participant.tasting.year }};
  {% if heat %}
  const beers = {{ g.participant.tasting.beers | selectattr("heat_id", "equalto", heat) | map(attribute='number') | list | tojson }};
  const heat = true;
  {% else %}
  const beers = {{ g.participant.tasting.beers | map(attribute='number') | list | tojson }};
  const heat = false;
  {% endif %}
  var current_beer_pos = 0;
  const score_types = ["look", "smell", "taste", "aftertaste", "xmas"];

  $("#select_beer").change(function() {
    set_beer();
  });
  $("#prev").click(function() {
    prev_beer();
  });
  $("#next").click(function() {
    next_beer();
  });

  $("input#look").focusout(function() {
    submit_beer_score("look");
  });

  $("input#smell").focusout(function() {
    submit_beer_score("smell");
  });

  $("input#taste").focusout(function() {
    submit_beer_score("taste");
  });
  
  $("input#aftertaste").focusout(function() {
    submit_beer_score("aftertaste");
  });
  
  $("input#xmas").focusout(function() {
    submit_beer_score("xmas");
  });
  

  function prev_beer() {
    if(current_beer_pos == 0) {
      current_beer_pos = beers.length - 1;
    } else {
      current_beer_pos = current_beer_pos - 1;
    };
    $("#select_beer")[0].value = beers[current_beer_pos];
    get_beer_rating(beers[current_beer_pos]);
  };

  function next_beer() {
    if(current_beer_pos == beers.length - 1) {
      current_beer_pos = 0;
    } else {
      current_beer_pos = current_beer_pos + 1;
    };
    $("#select_beer")[0].value = beers[current_beer_pos];
    get_beer_rating(beers[current_beer_pos]);
  };
  
  function set_beer() {
    num = $("#select_beer")[0].value - 1;
    if(num >= 0 && num < beers.length) {
      current_beer_pos = num;
      get_beer_rating(beers[current_beer_pos]);
    }
  };


  function get_beer_rating(beer_number) {
    $.ajax("/rate/" + year + "/" + beer_number, {
      method: "GET",
      dataType: "json",
      success: function(data, textStatus, xhr) {
        $("p.error").hide();
        if(heat) {
          $("h2#rating_header").text("Rating for beer " + (current_beer_pos + 1) + " (" + beer_number + ")");
        } else {
          $("h2#rating_header").text("Rating for beer " + beer_number);
        };
        for (let key of score_types) {
          if(data[key] != null) {
            $("input#" + key)[0].value = data[key];
          } else {
            $("input#" + key)[0].value = "";
          };
        };
      },
      error: function(xhr, ajaxOptions, thrownError) {
        var msg = xhr.responseJSON.error;
        $("p.error").text(msg);
        $("p.error").show();
      }
    });
  };

  function submit_beer_score(score_type) {
    var score = $("input#" + score_type)[0].value;
    if(!score) {
      return;
    };
    var beer_number = beers[current_beer_pos];
    data = new Map();
    data[score_type] = score;
    $.ajax("/rate/" + year + "/" + beer_number, {
      method: "PUT",
      dataType: "json",
      data: data,
      success: function(data, textStatus, xhr) {
        $("p.error").hide();
      },
      error: function(xhr, ajaxOptions, thrownError) {
        var msg = xhr.responseJSON.error;
        $("p.error").text(msg);
        $("p.error").show();
      }
    });
  };
  
  $("#rating").touchwipe({
    wipeLeft: function() { next_beer();},
    wipeRight: function() { prev_beer(); },
    //wipeUp: function() { },
    //wipeDown: function() { },
    min_move_x: 20,
    min_move_y: 20,
    preventDefaultEvents: true
  });

  $(document).ready(function() {
    get_beer_rating($("#select_beer")[0].options[0].value);
  });

  function filter_heat() {
    url = new URL(window.location);
    heat_id = $("#heatselect")[0].value;
    if(heat_id == "All") {
      url.search = "";
    } else {
      url.search = "heat=" + heat_id;
    };
    window.location = url;
  };
</script>
{% endblock %}
