<!--
SPDX-FileCopyrightText: 2020 Håvard Moen <post@haavard.name>

SPDX-License-Identifier: GPL-3.0-or-later
-->

{% extends 'base.html' %}

{% block title %}Juleøl result {{ tasting.year }} - {% endblock %}

{% block main_menu %}
<ul>
  <li><a href="/">Home</a></li>
  <li><a href="/result/{{ tasting.year }}" aria-current="page">Results {{ tasting.year }}</a></li>
  {% if current_user.is_authenticated %}
  <li><a href="/rate/{{ tasting.year }}">Rate</a></li>
  {% endif %}
</ul>
{% endblock %}

{%block content %}

<main>
  <details id="participants" class="inlineMenu">
    <summary>Participants</summary>
    <ul>
      {% for participant in participants %}
      <li><a href="{{ "/result/{}/{}".format(participant.tasting.year, participant.id) }}">{{ participant.name }}</a></li>
      {% endfor %}
    </ul>
  </details>

  {% if tasting.notes | length > 0 %}
  <details id="notes">
    <summary>Notes</summary>
    <ul>
      {% for note in tasting.notes %}
      <li>{{ note.note }}</li>
      {% endfor %}
    </ul>
  </details>
  {% endif %}

  {% if tasting.heats %}
  <details id="heats">
    <summary>Heats</summary>
    <select id="heatselect" name="heat">
      <option value="All" {% if not heat %}selected="selected"{% endif %}>All</option>
      {% for h in tasting.heats %}
      <option value="{{ h.id }}" {% if heat and heat == h.id %}selected="selected"{% endif %}>{{ h.name }}</option>
      {% endfor %}
    </select>
  </details>
  {% endif %}

  <section id="results">
    <header>
      <h2>Results</h2>
    </header>

    <table id="resulttable">
      <thead>
        <tr>
          <th aria-sort="none">Number</th>
          <th aria-sort="none"><div role="button" aria-label="Sort" class="fa-solid fa-sort"></div>Beer</th>
          <th aria-sort="none"><div role="button" aria-label="Sort" class="fa-solid fa-sort"></div>Beer number</th>
          <th aria-sort="none"><div role="button" aria-label="Sort" class="fa-solid fa-sort"></div>Sum</th>
          <th aria-sort="none"><div role="button" aria-label="Sort" class="fa-solid fa-sort"></div>Average</th>
          <th aria-sort="none"><div role="button" aria-label="Sort" class="fa-solid fa-sort"></div>Median</th>
          <th aria-sort="none"><div role="button" aria-label="Sort" class="fa-solid fa-sort"></div>Standard deviation</th>
          {%- if tasting.heats %}
          <th aria-sort="none"><div role="button" aria-label="Sort" class="fa-solid fa-sort"></div>Heat</th>
          {%- endif %}
        </tr>
      </thead>
      <tbody>
        {% for score in beer_scores.totals %}
        <tr id="beer_{{ score.number }}">
          <td data-title="Number">{{ loop.index }}</td>
          {%- if beers[score.number].info is not none %}
          <td data-title="Beer"><a href="{{ beers[score.number].info.info_url }}">{{ score.name }}</a>
            {%- else %}
            <td data-title="Beer">{{ score.name }}
              {%- endif %}
              <a href="#score_detail_{{ score.number }}" class="fa-solid fa-info"><span>"Beer information"></span></a>
              {%- set show_comments = {"show": False} %}
              {%- for comment in beers[score.number].comments %}
              {%- if not comment["private"] or comment.participant == current_user %}
              {%- if show_comments.update({"show": True}) %}{%- endif %}
              {%- endif %}
              {%- endfor %}
              {%- if show_comments["show"] %}
              <a href="#beer_comment_{{ score.number }}" class="fa-solid fa-comment"><span>"Beer comments"</span></a>
              {%- endif %}
            </td>
            {% if heat %}
            <td data-title="Beer number">{{ loop.index }} ({{ score.number }})</td>
            {% else %}
            <td data-title="Beer number">{{ score.number }}</td>
            {% endif %}
            <td data-title="Sum">{{ score.sum }}</td>
            {%- if score.avg %}
            <td data-title="Average">{{ "{:.2f}".format(score.avg) }}</td>
            {%- else %}
            <td/>
              {%- endif %}
              {%- if score.median %}
              <td data-title="Median">{{ "{:.2f}".format(score.median) }}</td>
              {%- else %}
              <td/>
                {%- endif %}
                {%- if score.std %}
                <td data-title="Standard deviation">{{ "{:.2f}".format(score.std) }}</td>
                {%- else %}
                <td/>
                  {%- endif %}
                  {%- if tasting.heats %}
                  <td data-title="Heat">{{ score.heat_name }}</td>
                  {%- endif %}
        </tr>
        {% endfor %}
      </tbody>
    </table>

  </section>
</main>
{% endblock %}

{%block content_after_faux_body %}
{% for score in beer_scores.totals %}
<section class="modal" id="score_detail_{{ score.number }}">
  <a href="#" class="modalClose" hidden tabindex="-1">
    <span>Close beer info</span>
  </a>
  <div class="beerInfo">
    <a href="#" class="modalClose fa-solid fa-close" hidden>
      <span>Close beer info</span>
    </a>
    <header>
      <h2>Details for {{ score.name }}</h2>
    </header>
    {%- if beers[score.number].info is not none %}
    <a href="{{ beers[score.number].info.info_url }}"><img alt="Image of beer {{ score.name }}" src="{{ beers[score.number].info.image_url }}" loading="lazy"></a>
    {%- endif %}
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Sum</th>
          <th>Deviation from average</th>
        </tr>
      </thead>
      <tbody>
        {% for participant in beer_scores.details[score.number] %}
        <tr>
          <td>{{ participant.name }}</td>
          {% if participant.sum is none %}
          <td>N/A</td>
          <td>N/A</td>
          {% else %}
          <td>{{ participant.sum }}</td>
          <td>{{ "{:.2f}".format(score.avg - participant.sum) }}</td>
          {% endif %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</section>

<section class="modal" id="beer_comment_{{ score.number }}">
  <a href="#" class="modalClose" hidden tabindex="-1">
    <span>Close beer comment</span>
  </a>
  <div class="beerInfo">
    <a href="#" class="modalClose fa-solid fa-close" hidden>
      <span>Close beer comment</span>
    </a>
    <header>
      <h2>Comments for {{ score.name }}</h2>
    </header>
    <div class="beerComment">
      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>Comment</th>
          </tr>
        </thead>
        <tbody>
          {%- for comment in beers[score.number].comments %}
          {%- if not comment["private"] or comment.participant == current_user %}
          <tr>
            <td>{{ comment.participant.name }}</td>
            <td>{{ comment.comment }}</td>
          </tr>
          {%- endif %}
          {% endfor %}
        </tbody>
      </table>
    </div>
</section>
{% endfor %}
{% endblock %}
