name: Docker build and push

env:
  DOCKER_REGISTRY: docker.pkg.github.com
  DOCKER_REPO: umglurf/juleol
  DOCKER_IMAGE: juleol
  DOCKER_TAG: latest

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
    - name: Docker build and push
      uses: manusa/actions-publish-docker@master
      with:
        name: ${{ env.DOCKER_REPO }}/${{ env.DOCKER_IMAGE }}
        tag: ${{ env.DOCKER_TAG }}
        username: umglurf
        password: ${{ secrets.GITHUB_TOKEN }}
        registry: ${{ env.DOCKER_REGISTRY }}
